{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>wishlist</title>
        <link rel="stylesheet" href="{% static 'css/tutorial.css' %}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      </head>

    
  
    <body>
        
        {% block content %}
        <div id="main">
            <div class = "navbar">
                <h5>Nama: {{nama}} </h5>
                <button type="button" class="btn btn-outline-warning"><a href="/">home</a></button>
                <button class="button2"><a href="{% url 'wishlist:logout' %}">Logout</a></button>
            </div>
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nama Barang</th>
                            <th scope="col">Harga Barang</th>
                            <th scope="col">Deskripsi</th>
                        </tr>
                    </thead>
                    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
                    <tbody class="table-group-divider">
                        {% for barang in list_barang %}
                        <tr>
                            <th scope="row">{{barang.nama_barang}}</th>
                            <th>{{barang.harga_barang}}</th>
                            <th>{{barang.deskripsi}}</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="last_login">  
                <h5>Sesi terakhir login: {{ last_login }}</h5>
            </div>
        </div>
        {% endblock content %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </body>
</html>